<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/0eee48ae-fcd1-4682-83a4-3848d3293445/resourceGroups/k8sv1/providers/Microsoft.ContainerRegistry/registries/armadillo</ResourceId>
    <ResourceName>armadillo</ResourceName>
    <ResourceGroup>k8sv1</ResourceGroup>
    <Subscription>Armadillo Subscription</Subscription>
    <RegistryUrl>armadillo.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>